# Ignore node_modules directories
node_modules/
**/node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# 해당폴더에 대한 메타데이터 
.DS_Store