</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% if (locals.curyear) { %> 
    <p>Copyright © <%= curyear %></p>
  <% } else { %>
    <p>Since 1998 </p>
  <% } %>
</footer>
</body>

</html>