/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.sidebar {
    word-wrap: break-word;
    overflow: hidden;
}

.post h2 {
    margin-top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
